<!DOCTYPE html>
<html lang="zxx">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="Male_Fashion Template">
  <meta name="keywords" content="Male_Fashion, unica, creative, html">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Bagzo</title>

  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap" rel="stylesheet">

  <!-- Css Styles -->
  <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
  <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
  <link rel="stylesheet" href="css/nice-select.css" type="text/css">
  <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
  <link rel="stylesheet" href="../../../css/style.css" type="text/css">
  <link rel="stylesheet" href="/css/userHeader.css" type="text/css">
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3">
        <div class="header__logo">
          <a href="./index.html"><img src="/public/img/BAGZO (3).png" alt=""></a>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <nav class="header__menu mobile-menu">
          <ul>
            <li class="<%= (typeof activePage !== 'undefined' && activePage === 'home') ? 'active' : '' %>"><a href="/">Home</a></li>
          
            <!-- Only show Shop link if user is logged in -->
            <li><a href="/shop">Shop</a></li>

            <% if (userData) { %>
            <li><a href="/cart">Cart</a></li>
            <li><a href="/wishlist">Wishlist</a></li>
            <% } else { %>
            <li><a href="#" onclick="redirectToLogin('/cart')">Cart</a></li>
            <li><a href="#" onclick="redirectToLogin('/wishlist')">Wishlist</a></li>
            <% } %>
            
            <li><a href="/contact">Contacts</a></li>
          </ul>
        </nav>
      </div>
      <div class="col-lg-3 col-md-3">
        <div class="header_nav_option ">
          <% if (!userData) { %>
          <a href="/signup" class="sign-in-link">Sign Up</a>
          <a href="/login">Log in</a>
          <% } else { %>
          <div class="dropdown">
            <a href="#" class="sign-in-link"><%=userData?.name || 'User' %></a>
            <div class="dropdown-content">
              <a href="/profile">Profile</a>
              <a href="/logout">Logout</a>
            </div>

          </div>
          <% } %>
        </div>
      </div>
    </div>
    <div class="canvas__open"><i class="fa fa-bars"></i></div>
  </div>

  
  <script>
    function redirectToLogin(redirectUrl) {
      window.location.href = '/login?redirect=' + encodeURIComponent(redirectUrl);
    }
  </script>
</body>

</html>