<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BAGZO | 404 - Page Not Found</title>
    <link rel="stylesheet" href="/css/page404.css" type="text/css">
</head>
<body>
    <div class="container">
        <h1>Error</h1>
        <p><%= typeof message !== "undefined" ? message : "Oops! The page you’re looking for isn’t available." %></p>
        <a href="/">Return to Home</a>
    </div>
</body>
</html>
